<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<br />
<br />
<%= @game.current_turn.name %>'s turn
<br />
<br />
<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP
<br />
<br />
<%= @attack.object_id unless @attack.nil?  %>
<br />
<br />
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP
<br />
<br />
<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>